.header{
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.329);
}
.navegador ul{
    display: flex;
    flex-wrap: wrap;
}
.navegador ul li{
    list-style: none;
    margin-left: 20px;
    padding: 10px;
}
.navegador ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.navegador ul li a:hover{
    background-color: rgb(146, 165, 148);
    padding: 10px;
}

body{
	background:url(../images/Hotel.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
	font-family: 'Raleway', sans-serif;
	background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.main {
	text-align: center;
	margin-top:2% ;
	margin-bottom:3%;
}

.error{
	width: 2100px;
	text-align: left;
	margin-top: 0px;
	padding-top: 0px;
	font-size: 10px;
	padding-left: 20px;
	color: red;
	}

.correcto{
	color: white;
	text-align: center;
	text-align: left;
	width: 700px;
font-size: 20px;
margin-top: 0px;
padding-top: 0px;
padding-left: 20px;
font-family: 'Raleway', sans-serif;

}
.Login-head {
	padding: 1.5em 0em;
	text-align: center; 
}
.login-head h1{
	font-family: 'Pacifico', cursive;
	color: #222;
	font-size: 2.5em;
	font-weight: 600;
	margin-bottom:1em;
	font-style: italic;
	text-align: center;
	letter-spacing: 2px;
}
.Regisration {
	width: 34%;
	text-align:center;
	margin: 0 auto;
	background:#20252D;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	padding-bottom: 3px;
}
.Regisration-head {
	 border-top-left-radius:7px;
	-webkit-border-top-left-radius:7px;
	-moz-border-top-left-radius:7px;
	-o-border-top-left-radius:7px;
	border-top-right-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-top-right-radius:7px;
	-o-border-top-right-radius:7px;
	text-align: center;
	padding:1.6em 0;
	border: 1px solid rgba(0, 0, 0, 0.37);
	box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-webkit-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-o-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-moz-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	position: relative;
}

.Regisration-head h2{
	color: #ffffff;
	font-size: 33px;
	font-weight: 700;
	margin-left:20px;
	font-family: 'Raleway', sans-serif;
}
.Regisration form {
	text-align: center;
	margin:5% 0%;
	position:relative;
		
}
.Regisration form input[type="text"],.Regisration form input[type="password"]{
	font-size: 15px;
	font-weight: 600;
	color:#8D8E8F;
	padding: 12px 12px;
	width:76%;
	margin: 10px 1em;
	border-radius:7px;
	background: #13161B;
	font-family: 'Raleway', sans-serif;

}

.Regisration form input[type="email"]{
	font-size: 15px;
	font-weight: 600;
	color:#8D8E8F;
	padding: 12px 12px;
	width:76%;
	margin: 10px 1em;
	border-radius:7px;
	background: #13161B;
	font-family: 'Raleway', sans-serif;

}

.p-container {
	padding: 10px 39px;
}


.p-container .checkbox {
	margin-bottom: 4px;
	padding-left: 52px;
	font-size: 14px;
	line-height: 5px;
	color: #8D8E8F;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	position: relative;
}
.p-container .checkbox:hover {
	text-decoration: underline;
}



.submit {
	text-align: center;
	margin: 2px 0;
}
.submit input[type="submit"]{
	cursor: pointer;
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
	padding: 14px 0px;
	width: 35%;
	font-size: 18px;
	border-radius: 4px;
	background: rgb(101, 211, 255);
}


.copy-right p {
	color: #222;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	padding:1em 0em 2em 0em;
	text-align:center;
}
.copy-right p a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color:#5EA809;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right p a:hover {
	color:#222;
}

/*CSS de pie de pagina*/
.footer{
    background-color:black;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}
.break{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 80px;
    text-align: center;
    color: white;
}
@media(max-width : 600px){
    .break{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
}
.derechos{
    background-color: black;
    text-align: center;
    padding: 1px 0px;
    color: white;
}

