.header{
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(20, 17, 13, 0.329);
}
.navegador ul{
    display: flex;
    flex-wrap: wrap;
}
.navegador ul li{
    list-style: none;
    margin-left: 20px;
    padding: 10px;
}
.navegador ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;

}
.navegador ul li a:hover{
    background-color: rgb(146, 165, 148);
    padding: 10px;
}

body{
    background-image: url(imagenes/hotel.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 150vh;
}

.form-register{
    overflow: hidden;
    width: 350px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px;
    font-family: 'calibri';
    color: #fff;
    box-shadow: 7px 13px 37px black;
    
   
    
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 22px;
    color: #fff;

}

.controls{
    width: 93%;
    background: #fff;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 8px;
    border: 4px solid rgb(50,50,225);
    font-family: 'calibri';
    font-size: 18px;
    color: black;
   
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 0px;
    
}

.form-register a{
    color: #fff;
    text-decoration: none;
    
}


.form-register a:hover{
    color: #fff;
    text-decoration: underline;
    
}

.form-register .bottoms {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: rgb(49,49,245);
    margin: 16px 0;
    font-size: 16px;
    position: fixed;
}

.warning {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

button{
    font-family: 'calibri';
    background: white;
}

/*CSS de pie de pagina*/
.footer{
    background-color:black;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22%;
}
.break{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 80px;
    text-align: center;
    color: white;
}
@media(max-width : 600px){
    .break{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
}
.derechos{
    background-color: black;
    text-align: center;
    padding: 10px 0px;
    color: white;
}
